@import '../../constants/colors.scss';

.borderContainer {
  --transition-duration: 800;
  --border-color: #{$primary-color};
  --border-width: 8px;

  // Split the total transition duration so that the transition duration of all 4
  // border edges adds up to the total desired transition duration
  --edge-transition-duration: calc(1ms * var(--transition-duration) / 4);

  position: relative;
  padding: var(--border-width);
}

.border {
  position: absolute;
  background-color: var(--border-color);
  transition: transform var(--edge-transition-duration);
}

.top,
.bottom {
  /* Top and bottom edges extend all the way across the width of the box */
  left: 0;
  right: 0;
  height: var(--border-width);

  /* Borders are squished down to 0 scale when hidden, then expand to full scale when active.
    To make this effect work, we will need to set each border's transform origin to the point that we want
    it to appear to expand from */
  transform: scaleX(0);
}

.left,
.right {
  /* Left and right edges extend all the way up and down the height of the box */
  top: 0;
  bottom: 0;
  width: var(--border-width);

  transform: scaleY(0);
}

.top {
  top: 0;
  transform-origin: left;
  transition-timing-function: ease-out;
  transition-delay: calc(3 * var(--edge-transition-duration));
}
.right {
  right: 0;
  transform-origin: top;
  transition-delay: calc(2 * var(--edge-transition-duration));
}
.bottom {
  bottom: 0;
  transform-origin: right;
  transition-delay: var(--edge-transition-duration);
}
.left {
  left: 0;
  transform-origin: bottom;
  transition-timing-function: ease-in;
  transition-delay: 0ms;
}

.active {
  .top, .bottom{
    transform: scaleX(1);
  }
  .left, .right {
    transform: scaleY(1);
  }

  .top {
    /* This will be the first edge to transition in so it should ease in to make the whole animation appear smoother */
    transition-timing-function: ease-in;
    transition-delay: 0ms;
  }
  .right {
    /* This is the 2nd edge to transition in so apply a delay to wait until the top edge is done transitioning */
    transition-delay: var(--edge-transition-duration);
  }
  .bottom {
    /* This is the 3rd edge to transition in so apply a delay to wait until the top and right edges are done transitioning */
    transition-delay: calc(2 * var(--edge-transition-duration));
  }
  .left {
    /* This is the 4th edge to transition in so apply a delay to wait until all 3 other edges are done transitioning */
    transition-delay: calc(3 * var(--edge-transition-duration));
    /* Because this is the last edge, apply an ease out to make the whole animation appear smoother */
    transition-timing-function: ease-out;
  }
}