.imageWrapper {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  img {
    width: 100%;
    display: block;
    filter: blur(4px);

    &:global(.lazyloaded) {
      filter: none;
    }
  }
}
