.imageWrapper {
  position: relative;

  img {
    width: 100%;
    display: block;
  }

  img:not([srcset]):not([src]) {
    visibility: hidden;
  }

  :global(.ls-blur-up-img) {
    filter: blur(4px);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;

    &:global(.ls-inview) {
      opacity: 1;
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &:global(.ls-original-loaded) {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s, visibility 0s 0.2s;
    }
  }
}
