.imageWrapper {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  img {
    width: 100%;
    display: block;

    // Hide images before lazysizes has set an src for them to start loading
    &:not([srcset]):not([src]) {
      visibility: hidden;
    }

    // While the main image is still loading, make it expand to cover the container whose dimensions
    // should be determined by the low quality placeholder image
    &:global(.lazyload),
    &:global(.lazyloading),
    // Once the main image has been loaded, swap to make the blur-up image expand to cover the container
    &:global(.ls-blur-up-img.ls-original-loaded) {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
    }

    &:global(.ls-blur-up-img) {
      // Placeholder image is displayed on top of the main image
      z-index: 1;
      // Apply blur filter to smooth out the low quality image
      filter: blur(4px);

      &:global(.ls-original-loaded) {
        // Once the main image has been loaded, fade out/hide the placeholder image
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s 0.2s;
      }
    }
  }
}
