# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
!public/

# production
/build
/dist

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.build

# Local Netlify folder
.netlify

# Built site html/JS files (we'll commit image assets for caching purposes)
_site/*

.DS_Store