@import "../../constants/colors.scss";

.audioPlayer {
  max-width: 32rem;
  margin: 0 auto;
  border-radius: 4px;
  background-color: $primary-color;

  :global(.rhap_progress-indicator), :global(.rhap_volume-indicator) {
    background-color: $secondary-accent-color;
  }

  :global(.rhap_main-controls-button), :global(.rhap_volume-button) {
    color: $secondary-accent-color;
  }
}