@import "../../constants/colors.scss";
@import "../../constants/breakpoints.scss";

.singleImage img {
  max-width: 100%;
  max-height: 36rem;
}

.imageGallery {
  padding-bottom: 2rem;

  :global(.image-gallery-bullets) {
    bottom: -1.5rem;

    :global(.image-gallery-bullet) {
      background-color: $secondary-accent-color;
      opacity: 0.6;
      box-shadow: none;
      border: none;
      transition: opacity 0.2s;

      &:hover,
      &:focus {
        background-color: $secondary-accent-color;
        transform: none;
        opacity: 0.8;
      }
    }
  }

  :global(.image-gallery-bullet.active) {
    background-color: $secondary-accent-color;
    opacity: 1;
  }
}

.galleryItem {
  img {
    height: 75vh;
    object-fit: contain;
  }
}

.leftArrowButton,
.rightArrowButton {
  appearance: none;
  border: none;
  padding: 0;
  background: none;
  position: absolute;
  top: 50%;
  width: 5rem;
  cursor: pointer;

  transition: transform 0.1s, opacity 0.1s;

  svg {
    width: 100%;
    height: auto;

    g {
      stroke: $secondary-accent-color;
    }
  }
}

.leftArrowButton {
  left: -0.5rem;
  transform: translate(-100%, -50%);

  &:hover {
    transform: translate(-105%, -50%);
    opacity: 0.8;
  }

  svg {
    transform: rotate(180deg);
  }
}

.rightArrowButton {
  right: -0.5rem;
  transform: translate(100%, -50%);

  &:hover {
    transform: translate(105%, -50%);
    opacity: 0.8;
  }
}

@media #{$breakpoint-mobile} {
  .leftArrowButton,
  .rightArrowButton {
    display: none;
  }
}
