@import "../../constants/colors.scss";
@import "../../constants/breakpoints.scss";

.headingBox {
  border: 0.5rem solid $secondary-accent-color;
  margin: 1rem 4% 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: $primary-accent-color;
    font-size: 6rem;
    line-height: 1;
    letter-spacing: -2px;
    margin: 0 0 1rem;
    text-transform: lowercase;

    @media #{$breakpoint-mobile} {
      font-size: 3.5rem;
    }
  }

  p {
    max-width: 40rem;
    margin: 0;
    text-align: center;
  }
}
