/* Normal font weight */
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-Medium.woff2");
  font-weight: 400;
  font-style: normal;
}

/* Semi-bold font weight */
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-DemiBold.woff2");
  font-weight: 500;
  font-style: normal;
}

/* Bold font weight */
@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-primary: #2afd73;
  --color-secondary: #323e48;
  --color-tertiary: #ffffff;
}

body,
html {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Avenir Next", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

html {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

html[data-theme="dark"],
.secondary {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
