/* Normal font weight */
@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Book.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-BookOblique.ttf");
  font-weight: normal;
  font-style: oblique;
}

/* Bold font weight */
@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Heavy.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-HeavyOblique.ttf");
  font-weight: bold;
  font-style: oblique;
}

:root {
  --color-primary: #2aff60;
  --color-secondary: #252f38;
  --color-tertiary: #ffffff;
}

body,
html {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Avenir", sans-serif;
}

.button {
  display: inline-block;
  font-size: 2rem;
  padding: 1em;
  border-radius: 1em;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}

html,
body,
.secondary {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
}
