@import '../constants/colors.scss';

/* Normal font weight */
@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Book.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-BookOblique.ttf");
  font-weight: normal;
  font-style: oblique;
}

/* Bold font weight */
@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Heavy.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-HeavyOblique.ttf");
  font-weight: bold;
  font-style: oblique;
}

html,
body {
  font-family: "Avenir", sans-serif;
  font-size: 100%;

  color: $secondary-color;
  background-color: $background-color;
}

body {
  margin: 0;
  padding: 0;
}