@import "../constants/colors.scss";
@import "../constants/breakpoints.scss";

.heroVideo {
  display: block;
  width: 100%;
  height: calc(95vh - 8rem);
  object-fit: cover;
  background-color: $primary-color;

  @media #{$breakpoint-mobile} {
    height: calc(95vh - 6rem);
  }
}
